.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  padding: 92px 50px 98px;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: circle;
  gap: 31px;
  padding-top: 2px;
}

.header__logo {
  width: 135px;
  height: 113px;
  justify-items: end;
}

.header__menu-item {
  text-decoration: underline;
}

.header__menu-item_active {
  text-decoration: none;
  list-style: none;
  width: 64px;
}

.header__menu-link {
  text-decoration: none;
}

.header__menu-item_lots {
  width: 151px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.header__menu-item_auction {
  width: 130px;
}

.header_logo-image {
  width: 100%;
  box-sizing: border-box;
}

.header__address {
  line-height: 27px;
  text-underline-position: under;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 192px;
  padding-top: 0;
}

.header__address-adds {
  line-height: 24px;
  padding: 0px;
  height: 58px;
}